* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/background_img.png);
    background-repeat: no-repeat;
    background-position: right;
}


.row {
    display: flex;
    flex-wrap: wrap;
}

.m1-l {
    margin-left: auto;
}

.nav-bar li img {
    width: 140px;
}

.hea-img img {
    display: block;
    margin: 0 auto;
}

.nav-bar li {
    display: inline-block;
    margin: 30px 10px;
    padding: 10px 10px;
}

.nav-bar li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    position: relative;
}

.nav-bar li a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-bar li a:hover::after {
    width: 100%;
}

.header-p {
    margin-top: 3%;
    font-size: 30px;
}


.header-p p {
    font-size: 1.5rem;
    margin: 10px 0;
}

.header-p h1 {
    font-size: 39px;
    margin: 10px 0;
}


.header-p span {
    color: red;
}

html {
    scroll-behavior: smooth;
}

/* .header_h2 {
    margin-top: 10%;
    font-size: 30px;
}
.header_h2 p {
    font-size: 60px;
    margin: 20px 0;
}

.header_h2 h1 {
    font-size: 60px;
    margin-top: 20px 0;
}

.header_h2 span {
    color: red;
} */

.col-50 {
    width: 50%;
}

.sec_about h2 {
    font-size: 3rem;
    margin: 40px 20px;
    font-weight: 600;
}

.sec1_img img {
    padding: 5px 0;
}

.sec-text p {
    font-size: 1.0rem;
    margin: 20px 20px;
    font-weight: 500;
}

.tab-title .tab-links {
    margin: 10px 20px;
    font-size: 1.0rem;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}


.tab-contents ul li {
    list-style: none;
    margin: 10px 20px;
}


.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}



.sec_services h2 {
    font-size: 3rem;
    margin: 40px 20px;
    font-weight: 600;
    text-align: center;
}

.services-list {
    background-color: #262626;
    /* background-size: cover; */
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.web-design h2 {
    font-size: 30px;
    /* margin-bottom: 15px; */
    margin: 10px 10px;
}

.p_services p {
    font-size: 1.0rem;
    margin: 10px 10px;
}

.services-list i {
    font-size: 40px;
    /* color: white; */
    margin: 10px 10px;
}

.learn-more a {
    text-decoration: none;
    font-size: 12px;
    margin: 10px 10px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.js-c {
    justify-content: space-between;
}

.services-list:hover {
    background-color: red;
    transform: translateY(-10px);
}

.sec_work h2 {
    font-size: 3rem;
    margin: 40px 20px;
    font-weight: 600;
    text-align: center;
}

.work {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
}

.work img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;

}

.layer a {
    margin-bottom: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    margin: 10px 0;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn button {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    color: white;
    background-color: black;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.5s;
}

.btn button:hover {
    background-color: #ff004f;
}

.sec_contact h2 {
    font-size: 3rem;
    margin: 10px 0;
    font-weight: 600;
}

.contact p {
    margin-top: 30px;

}

.contact p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin: 30px 0;
}

.social-icons a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.cv {
    margin: 50px 0;
}

.cv a {
    width: 30%;
    padding: 15px;
    font-size: 1.0rem;
    text-decoration: none;
    color: white;
    background-color: #ff004f;
    border-radius: 4px;

}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 1.3rem;
    border-radius: 6px;
}

.btn_form {
    width: 40%;
    background-color: #ff004f;
    color: white;
    outline: none;
    border-radius: 4px;
    font-size: 1.0rem;
    padding: 13px;
    margin: 30px 0;
}

.container {
    width: 100%;
    /* width: 1300px; */
    margin: 0 auto;
}

.col-30 {
    width: 100%;
}

.col-50 {
    width: 100%;
}

.m1-l {
    display: none;
}

.bar {
    display: block;
    margin-left: auto;
    /* padding: 0 20px; */
    background-color: transparent;
    color: #fff;
    border: none;
}

.dips-b-mobile {
    display: block;
    position: absolute;
    background-color: lightgray;
    right: 0;
}

.dips-b-mobile .nav-bar li {
    display: block;
}

@media (min-width: 576px) {
    .container {
        width: 540px;
    }

    .col-30 {
        width: 100%;
    }

    .col-50 {
        width: 100%;
    }

    .header-p p {
        font-size: 40px;
        margin: 10px 0;
    }

    .header-p h1 {
        font-size: 50px;
        margin: 10px 0;
    }

    .btn_form {
        width: 20%;
    }
}

@media (min-width:768px) {
    .container {
        width: 720px;
    }

    .col-30 {
        width: 100%;
    }

    .col-50 {
        width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        width: 940px;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }

    .bar {
        display: none;
    }

    .m1-l {
        display: block;
    }

}

@media (min-width:1380px) {
    .container {
        width: 1300px;
    }

    .col-30 {
        width: 30%;
    }

    .col-50 {
        width: 50%;
    }
}